.header-style{
  height: 56px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background-color: white;
}
.left-section{
  width: 162px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hamberger-menu{
  width: 24px;
  height: 24px;
  margin-left: 34px;
}
.youtube-logo{
  width: 90px;
  margin-left: 26px;
}
.midle-section{
  flex: 1;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 66px;
}
.search-style{
  flex: 1;
  padding-left: 10px;
  height: 36px;
  font-size: 16px;  
  border-color: rgb(204, 194, 194);
  border-width: 1px;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3 rgba(0, 0, 0, 0.05);
  max-width: 400px;
  width: 0px;
}
.search-style::placeholder{
  font-family: roboto,arial;
  font-size: 16px;
}
.search-button{
  height: 40px;
  margin-left: -1px;
  border-color: rgb(204, 194, 194);
  border-width: 1px;
  padding-top: 4px;
  border-radius: 2px;
  background-color: rgb(248, 245, 245);
}
.search-image{
  width: 24px;
  padding-left: 10px;
  padding-right: 10px;
}
.voice-button{
  width: 24px;
}
.voice-search-icon{
border: none;
height: 38px;
margin-left: 20px;
border-radius: 19px;
}
.right-section { 
  width: 182px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
  margin-left: 29px;
  flex-shrink: 0;
}